#content
{
	padding-top: 2px;
	height: 100%;
}

.title
{
	font-size : 4em;
	margin-top : 20%;
	text-align:center;
	/* font-family:Arial; */
	color : #4486f6;
}

.popup-new-word, .popup-edit-word
{
	display: none;
	position: absolute;
	z-index:1103;
	/* width: 240px; */
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
	background: white;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border: 1px solid #ccc;

	padding: 10px;
	width: 95%;

	height: 95px;
	overflow:  hidden;
	
	position: fixed;
	/* height: 19%; */
	padding: 55px 0px;
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}
.popup-new-word input[type=text]
{
	width: 70%; /*165px; */
}

.popup-edit-word input[type=text]
{
	width: 70%; /*165px; */
}

.popup-new-word span
{
	font-weight: bold;
}

.popup-edit-word span
{
	font-weight: bold;
}


.popup
{
	display: none;
	z-index: 1103;
}

.popup-blackout
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: black;
	opacity: 0.75;
	z-index: 1102;
}

@media all and (min-width: 800px){
	.popup-content
	{
		width: 900px;
		height: 500px;
	}
	.popup-new-word 
	{ 
		width: 45%;
	}
	.popup-edit-word 
	{ 
		width: 45%;
	}	
}

@media all and (max-width: 800px){
	/* .popup-content
	{
		width: 98%;
		height: 500px;
	} */
	.popup-content
	{
		width: 900px;
 		height: 500px; 
	}
	.popup-new-word 
	{ 
		width: 45%;
	}
	.popup-edit-word 
	{ 
		width: 45%;
	}	
}

@media all and (max-width: 600px){
	/* .popup-content
	{
		width: 95%;
		height: 90%;
	} */
	.popup-content
	{
		width: 100%;
		height:80%;
	}

}

@media only screen and (max-height: 500px)
{
	/* .popup-content
	{
		width: 95%;
		height: 80%;
	} */
	.popup-content
	{
		width: 100%;
		height:80%;
	}
}



.popup-content
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: white;
	/* border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px; */
	border: 1px solid black;
	/* overflow: auto; */
	padding: 20px;
	z-index: 1103;
	/* padding-top: 40px; */
}

.popup-close
{
	position: absolute;
	right: 0px;
	top: 0px;
	font-weight: bold;
	font-size: 20px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	/* font-family: "Arial Black", Gadget, sans-serif; */
	color: red;
	text-align: center;
}
.popup-close-bottom
{
	float:right;
	right: 5px;
	top: 10px;
	font-weight: bold;
	font-size: 15px;
	height: 35px;
	width: 35px;
	cursor: pointer;
	/* font-family: "Arial Black", Gadget, sans-serif; */
	color: red;
}

.tooltip_ebook_mobile
{
	display: inline;
	color:#CC0000; 
}

.tooltip_ebook_mobile .meaning
{
	display: none;
	position: fixed;
	left: 0px;
	width: 100%;

	/* 	border-top: 1px solid white;
	border-bottom: 1px solid white; font-size: 24px; text-align: left;  rgb(210, 210, 210);  */
	padding:5px;
	color:#fff;
	background-color: #000;
}

.key
{
	display: inline;
	/* color:#000; */
}

.tooltip_ebook .meaning
{
	display: inline-block;
}
.edit-icon
{
	width: 16px;
	height: 16px;
	background-image: url(gfx/edit.png);
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	
}
#table_lsdata_container
{
	overflow: auto;
    height: 90%;
    border: 1px solid #ccc;
    margin-top: 15px;
}

#table_lsdata
{
	border: 1px solid #ccc;
    border-collapse: collapse;
	width: 100%;
	/* width: 33%; border: 1px solid #000; */
}

#table_lsdata input[type=text]
{
	width: 95%;
}


#table_lsdata td
{
	border: 1px solid #ccc;
    border-collapse: collapse;
}

.table_cell {
	/* background-color:#ccc;  */
	padding-left:10px;
	background-color: #4486f6;
    color: #FFF;
}
. td
{
	background-color: rgb(230, 230, 230);
}

.t-header td
{
	background-color:#4486f6;
	color: white;
	text-align:center;
	height:25px;
}

.tooltip_ebook span {
    z-index:80;
    display:none;
    padding:2px;
    bottom: 18px;
	width: auto;
    line-height:16px;
    border-radius:5px;
    opacity: 0.8;
    font-style: normal;
	font-size: 1.0em;
	/* font-family: '맑은 고딕', Arial,ＭＳ Ｐゴシック; */
    text-decoration: none;
    cursor:default;
	white-space: nowrap;
	
}
.tooltip_ebook:hover span {
    display:inline;
    position:absolute;
    border:1px solid #063a6e;
	text-align:left;
    color:#fff;
    background:#203c6e;
}
.tooltip_ebook {
    display: inline;
    position: relative;
	color: #CC0000; 
}
.tooltip_ebook:hover:before {
    display:inline;
    border: solid;
    border-color: #000 transparent;
    border-width: 6px 6px 0px 6px;

    bottom: 12px;
    content:"";
    position: absolute;
    z-index: 9;
    font-style: normal;
    opacity: 0.8;
	padding:2px;
}
pre {
    display: block;
    /* font-family: Arial; */
    white-space: pre;
    margin: 1em 0;
	background:#ccc;
	padding:10px;
}
.text_area_box_dic    {  width:99%; min-height: 400px;  border-radius:10px;   border-width:2pt; border-color:#C8D2E0; border-style:solid; margin:0 auto; } /* resize: none */
.text_area_box_sorce_dic    {  width:99%; height: 80px;  border-radius:10px;   border-width:2pt; border-color:#C8D2E0; border-style:solid; margin:0 auto; } /* resize: none */
.red{
	background: #FFC7D3;
}

.green{
	background: #E6FFC7;
}

.orange{
	background: #FFECB8;
}

.blue{
	background: #C7ECFF;
}

.black{
	background: #000000;
}


#file_upload_button
{
	position: relative;
    overflow: hidden;
	display: inline-block;
	background-color: rgb(200, 200, 255);
	border: 1px solid black;
	padding: 1px;
	float: right;
}

#fileBrowser
{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#search
{
    /* max-width: 400px; */
	position: relative;
}
#search_word_key {
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 15px;
	padding: 8px;
	width: 300px;
}
#search_word_submit {
	background-color: #4486f6;
	color: white;
    padding: 8px;
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    border: 0px;
    border: 1px solid #ccc;
	cursor: pointer;
	display: none;
}

@-moz-document url-prefix() {
    #search_word_submit {
		padding: 7px;
	}
}

.arrow-right {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #ccc;
	cursor: pointer;
	vertical-align: middle
}

.arrow-left {
	display: inline-block;
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-right:40px solid #ccc;
	cursor: pointer;
	vertical-align: middle
}
.t-key, #edit_word_key { font-size:1em; width:25%; padding-left:3px; font-weight:bold; }
.t-meaning, #edit_word_meaning { font-size:1em; width:60%;padding-left:3px; } /*  font-family: "맑은 고딕",Arial, Gadget, sans-serif; font-weight:bold; */
.t-options{ font-size:1em; width:15%; padding-left:3px; font-weight:bold; text-align: center; }
.news_arrows { }
.news_arrows a { display:block; width:25px; height:50px; position:fixed; top:50%; margin-top:-25px; text-indent:-9999px; font-size:0; line-height:0; background:url(http://www.vocadb.co.kr/dic/images/arrow_left_right.png) no-repeat 0px 0px; }
.news_arrows #news_arrow_prev { left:0px; background-position:0px 0px;}
.news_arrows #news_arrow_next { right:0px; background-position:-25px 0px;}
.t-btn-edit, .t-btn-delete, .t-btn-submit, #t-new
{
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	margin: 3px;
}
.t-btn-edit:hover, .t-btn-delete:hover, .t-btn-submit:hover, #t-new:hover
{
	outline:0;color:#fff
}
.t-btn-edit, .t-btn-delete, #edit_word_save, #edit_word_cancel, #t-new, #new_word_save, #new_word_cancel
{
	color: #FFF;
    font-size: 12px;
    padding: 5px 10px;
    border: 0px;
    cursor: pointer;
}
.t-btn-edit
{
	background-color: #3498db;
}
.t-btn-delete
{
	background-color: #e74c3c;
}
#edit_word_save, #new_word_save {
	background-color: #3498db;
	font-size: 15px;
	border-radius: 5px;
	font-weight: none;
}
#edit_word_cancel, #new_word_cancel {
	background-color: #e74c3c;
	font-size: 15px;
	border-radius: 5px;
	font-weight: none;
}
#t-new {
	background-color: #4486f6;
	padding: 8px 32px;
	float: right;
    position: relative;
    right: 25px;
}
.t-header .t-meaning {
	font-weight:bold;
}

.local_circle {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4486f6;
    display: inline-block;
    margin: 0px 10px;
}
.my_dic_btn {
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    outline: none;
    border-radius: 6px;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    height: 30px;
    line-height: 27px;
    min-width: 54px;
    outline: 0px;
    padding: 0 8px;
    float: left;
    margin-left: 12px;
    cursor: pointer;
}